## Complex Boundaries

In [2]:
from sklearn import datasets

In [3]:
boston = datasets.load_boston()
# print(boston)

In [4]:
x = boston.data
y = boston.target
head = boston.feature_names
print(y.shape)
x.shape
head

(506,)

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame(x)
df.columns = boston.feature_names
# df["age_age"] = df.AGE ** 2 
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [7]:
for i in range(13):
    df[i] = df[head[i]] ** 2
count = 12
for i in range(12):
    for j in range(i,13):
        df[count] = df[head[i]] * df[head[j]]
        count += 1
        
df.shape

(506, 115)

In [8]:
x2 = df.values

In [11]:
from sklearn import model_selection as ms

In [12]:
#Spliting the data set into train and test by train_test_split fumction
x_train,x_test,y_train,y_test = ms.train_test_split(x,y,random_state = 0) 
x2_train,x2_test,y2_train,y2_test = ms.train_test_split(x2,y,random_state = 0)

In [13]:
from sklearn.linear_model import LinearRegression as LR

In [14]:
alg1 = LR()
alg2 = LR()

In [15]:
alg1.fit(x_train,y_train)
alg2.fit(x2_train,y2_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [16]:
y_pred = alg1.predict(x_test)
y2_pred = alg2.predict(x2_test)

In [17]:
print("test1:",alg1.score(x_test, y_test))
print("train1:",alg1.score(x_train, y_train))
print("test2:",alg2.score(x2_test, y2_test))
print("train2:",alg2.score(x2_train, y2_train))

test1: 0.6353620786674621
train1: 0.7697448370563938
test2: 0.6476821393487582
train2: 0.9493910716539445